@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lemon&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: aldrich, serif;
    color: white;
}

/* Heading*/
h1 {
    font-family: lemon, sans-serif;
    font-weight: 200;
    font-size: 150%;
}

#heading {
    text-align: center;
    color: #001052;
    padding: 20px 0;
}

/* Game Area */
#game-area {
    background-color: #001052;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-bottom: 30px;
}

#outcome {
    display: flex;
    justify-content: center;
    gap: 30px;
    line-height: 120px;
    margin-top: 30px;
}

#selection {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

#choice {
    text-align: center;
}

.choice-btn {
    margin-left: 10px;
}

.choice-btn:hover {
    cursor: pointer;
}

#result {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

#score-area {
    text-align: center;
    margin-bottom: 20px;
}

#player-score {
    font-size: 120%;
    color: chartreuse;
}

#comp-score {
    font-size: 120%;
    color: crimson;
}

#reset-btn {
    background-color: #001052;
    color: white;
    font-family: inherit;
    padding: 10px 10px;
    border-radius: 50%;

}

#reset-btn:hover {
    cursor: pointer;
}

#restart {
    text-align: center;
}

#restart a {
    text-decoration: none;
}

#rules {
    text-align: center;
    color: #001052;
    margin-top: 30px;
}

/* Media query */

/* For smaller screen size from 500px and down*/
@media screen and (max-width: 500px) {

    #player-outcome,
    #comp-outcome {
        height: 100px;
        width: 100px
    }

    #outcome {
        gap: 20px;
        line-height: 90px;
    }


    .choice-btn {
        margin-left: 20px;
        height: 50px;
        width: 50px;
    }

    #choice {
        margin-right: 50px;
    }

    #rules {
        font-size: 75%;
    }
}

/* For smaller screen size from 350px and down*/
@media screen and (max-width: 350px) {

    #player-outcome,
    #comp-outcome {
        height: 80px;
        width: 80px
    }

    #outcome {
        gap: 10px;
        line-height: 70px;
    }

    .choice-btn {
        margin-left: 40px;
        height: 30px;
        width: 30px;
    }

    #choice {
        margin-left: -20px;
    }

    #rules {
        font-size: 60%;
    }
}